.sidebar {
  display: flex;
  flex-direction: row;
  height: 95vh;
  float: inline-start;
  background-color: #e7e7e786;
}

.MenuLink {
  color: #00376f !important;
  text-decoration: none;
  font-size: 1.5em;
  font-weight: bold;
  padding: 1em;
  display: inline-flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  border-radius: 50px;
  width: 100%;
  margin: 2px 0 2px 0;
}

.MenuLink:hover {
  color: #ffffff !important;
  background-color: #00376f;
  text-decoration: none !important;
}

.linkText {
  margin-left: 5px;
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1.2rem;
}

.sidebar:hover .linkText {
  animation: slideIn 0.3s forwards;
}

@keyframes slideIn {
  from {
    transform: translateX(-10%);
  }
  to {
    transform: translateX(0);
  }
}

@media screen and (max-width: 768px) {
  .sidebar {
    display: none !important;
  }
}

.menuMovil {
  z-index: 1;
  background-color: #ffffff;
  transform: translateX(-100%);
}

.drawerCloseButton:hover {
  cursor: pointer;
}

.menuButton:hover {
  cursor: pointer;
}
